/* Google font used */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Font used */
    font-family: 'Poppins', sans-serif;
}

.contact{
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Bckgroung image with color gradient */
    background:linear-gradient(rgba(0,0,0,0.5),#86e6f2), url(../Images/DCU.jpg);
    background-size: cover;
    flex-wrap: wrap;
}

.contact .header{
    max-width: 800px;
    text-align: center;
}

.contact .header h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.contact .header p{
    font-weight: 300;
    color: #fff;
}

.contact .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;   
}

.container .InfoIcons{
    width: 50%;
    height: 100%;
    display: flex;
    /* To arrange the information icons vertically */
    flex-direction: column;
    justify-content: space-between;
}

.container .InfoIcons .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .InfoIcons .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    color: #698872;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .InfoIcons .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .InfoIcons .box .text h3{
    font-weight: 500;
    color: #19231c;
    font-size: 1.2rem;
}

.container .contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 2px;
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox textarea,
.contactForm .inputBox input{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #a69fa0;
    font-size: 12px;
    /* To create the effect of moving text from input boxes */
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #698872;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 2px;
}

.contactForm .inputBox input[type="submit"]:hover{
    background:#668962;
}

/* For other device comaptibility */
@media (max-width: 991px){
    .contact{
        padding: 50px;
    }

    .container{
        flex-direction: column;
    }

    .container .InfoIcons{
        margin-bottom: 40px;
    }

    .container .InfoIcons,
    .container .contactForm{
        width: 100%;
    }
}


