body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}

/* Overall */
.main {
    display: flex;
    flex-direction: row;
}

.dashboard {
    flex: 1;
    padding: 20px;
}

/* Navbar */
.nav {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100vh;
    border-radius: 0 20px 20px 0;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.nav ul {
    padding: 0;
    margin: 0;
}

.nav li {
    list-style: none;
    text-align: center;
    cursor: pointer;
    margin: 75px 0;
}

.nav li:first-child {
    margin-top: 75px;
}

.nav img {
    width: 35px;
    height: 35px;
    margin-bottom: 10px; /* Adjusted */
}

.nav a {
    text-decoration: none;
    color: #555555;
    display: block;
    font-size: 16px;
    text-align: center;
    justify-content: center;
}


/* Search bar */

.search_bar {
    width: 20%;
    height: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search_bar input {
    border: none;
    background-color: transparent;
    all: unset;
    outline: none;
    height: 100%;
    padding: 0 10px;
    font-size: 0.8rem;
    border-radius: 25px;
}

.search_bar button {
    color: #fff;
    all: unset;
    border: none;
    border-radius: 25px;
    padding: 0 10px;
    margin: 0 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.search_bar button img {
    width: 20px;
    height: 20px;
}


.search_bar input::placeholder {
    color: #555555;
}

.search_bar input:focus {
    border: none;
    outline: none;
    background: #f1f1f1;
}

.search_bar button:hover {
    background-color: #555555;
}

/* Widget */

.container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 80vh;
}

.widget {
    flex: 1;
    height: 40vh;
    background: white;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
}

.dashboard-containers {
    display: flex;
}

.container-dashboard,
.container-dashboard2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    grid-template-rows: auto auto; /* 2 rows, auto height */
    grid-gap: 20px;
    margin-left: 65px; /* Adjusted */
    width: 50%; /* Adjusted */
    height: 70vh;
    margin-top: 20px;
}

.widget-dashboard {
    background: white;
    border-radius: 25px;
    padding: 10px;
}

.widget-dashboard h2 {
    margin-left: 10px;
}

.container-dashboard2 {
    display: grid;
    grid-template-columns: 1fr; /* 1 column */
    grid-template-rows: auto auto; /* 2 rows */
    grid-gap: 20px;
    width: 50%; /* Adjusted */
    height: 70vh;
    margin-top: 20px;
    margin-right: 65px; /* Adjusted */
    margin-left: 20px;
}

.main-tile {
    margin-left: 65px;
}

.main-tile-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.main-tile-contact h1 {
    font-size: 3rem;
    margin-bottom: 0;
}

.main-tile-contact p {
    font-size: 1.5rem;
    color: #555555;
}
