body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../Images/DCU.jpg");
    background-size: cover;
    zoom: 1.3;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
  }
  input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  button {
    padding: 10px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
  }
  button:hover {
    background-color: darkblue;
  }
  .social-media {
    display: flex;
    justify-content: space-between;
    /* Align items in center vertically */
    align-items: center;
    margin: 10px 0;
  }
  .social-media .facebook {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #3b5998;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-media .facebook a {
    color: white;
  }
  .social-media .google {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #dc4e41;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-media .google a {
    color: white;
  }
  .social-media .twitter {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #1da1f2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-media .twitter a {
    color: white;
  }