@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  display: flex;

}

.container2{
  margin-top: 3%;
  padding-left: 10%;
  width: 100%;

}

.container2 h1{
  font-family: 'Allura', cursive;
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  gap: 20px;
  flex-wrap:wrap;

}

.member{
  background: #fff;
  margin: 5px 5px 20px;
  width: 280px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 8px 20px  ;
  transition: 300ms ease-in-out;
  overflow: auto;
}

.team .member:hover{
  /*box-shadow: 0px 8px 40px #31f0d6;*/
  /*width: 303px;*/
}

.team .member h3{
    color: #333333;
  font-size: 26px;
  margin-top: 50px;
}

.team .member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .member .team_image{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .member .team_image img{
  width: 100px;
  height: 100px;
  padding: 5px;
}

.member:hover{
  scale: 1.1;
}